# uncomment the proper environment setting, comment the other
# note that this setting might be overruled by the php-fpm config if any
# SetEnv ENVIRONMENT production
SetEnv ENVIRONMENT development

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

# select the proper rule depending if php-by-example is run as a domain subpath, eg my.domain.com/php-by-example or not
RewriteRule ^.*$ /index.php [NC,L]
# RewriteRule ^.*$ /php-by-example/index.php [NC,L]
